@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');




.header {
	background-color: #931707;
	color: #FFF;
	overflow:hidden;
}

.header a:link {
	text-decoration: none;
	color: #fff;
}

.header a:visited {
	color: #fff;
}

.header .sig {
	font-size: 35px;
	margin:5px 10px 10px;
	font-family: "Roboto", "Arial", san-serif;
}

.header ul {
	position: relative;
	left: 1097px;
	bottom: 20px;
}

.header ul li {
	display: inline;
	padding-left: 0px;
}



.header .col-1h {
	font-size: 18px;
	padding: 30px 0px 30px 30px;
	font-family: "Roboto", "Arial", san-serif;
}

.container {
	margin: 30px;
	text-align: justify;
}

.footer {
	margin-top: 100px;
}

.sub
{

	margin: 5px;
}

h1
{
	font-size: 28px;
}

.subir
{
	margin-top: -10px;
}